<nav>
    <ul>
        <li class="current"><a href="/catalog/">Каталог техники</a></li>

        {% for key,value in oll_pages.items %}
            <li>
                <a href="/{{ key.url }}/">{{ key.title }}</a>
                {% if value|length > 0 %}
                <ul>
                    {% for page in value %}
                        <li><a href="/{{ key.url }}/{{ page.url }}/">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        <li><a href="/clients/">Наши клиенты</a></li>
        <li><a href="/contact/">Контакты</a></li>
    </ul>
</nav>
